<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "DrugsAi" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen w-screen">
    <main class="h-screen mx-auto container">
      <%= yield %>
      <footer class="text-center my-10">
        <p class="text-gray-500">Built with ❤️ by <a href="https://twitter.com/arandilopez" class="text-purple-900">Arandi López</a></p>
      </footer>
    </main>
  </body>
</html>
